.section.animate .textSection:before {
    content: '';
    position: absolute;
    top: 15%;
    left: 50vw;
    width: clamp(675px, 111vw,2282px);
    aspect-ratio: 0.48;
    background: url("/src/images/textSection-bg_1.png") no-repeat;
    background-size: contain;
    animation: opacitySlide 5s ease-in-out;
}

.section.animate .textSection:after {
    content: '';
    position: absolute;
    width: clamp(433px,70vw, 1446px);
    aspect-ratio: 0.47;
    top: 60%;
    left: 90%;
    background: url("/src/images/textSection-bg_2.png") no-repeat;
    background-size: contain;
    background-position: top right;
    animation: opacitySlide 5s ease-in-out;
    /*animation-delay: 0.5s;*/
}

.textSection {
    position: relative;
    overflow: hidden;
    background:
            /*url('/src/images/hero_background_layer.png') no-repeat,*/
            radial-gradient(circle at top left, white 10%, transparent 25%) no-repeat,
            radial-gradient(circle at bottom left, var(--color-blue-light) 10%, transparent 25%) no-repeat,
            radial-gradient(circle at top right, var(--color-blue-light) 0.1%, var(--color-pink-light) 10%, #ecf2f4 30%) no-repeat;
    background-color: white;
    max-height: 100vh;






    &__info {
        position: relative;
        z-index: 1;
        display: flex;
        gap: 70px;
        margin-top: 48px;
        /*margin-top: clamp(20px, 4.68vw, 96px);*/
        &-scrollBar {
            position: relative;
            width: 6px;
            height: auto;
            background-color: #000;
            border-radius: 10px;
        }

        &-scrollElement {
            position: absolute;
            width: 20px;
            height: 105px;
            background-color: var(--color-pink);
            border-radius: 16px;
            box-shadow:
                    inset 4px 4px 10px 4px var(--color-pink-dark),
                    inset -4px -4px 10px 4px var(--color-pink-light);

            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);

            transition-duration: 0s;
        }

        &-block-container {
            position: relative;
            margin-right: 120px;
            /*border: 5px solid red;*/
            border-radius: 70px;
            border: 4px solid white;
            background-color: white;

        }
        &-block-container:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                box-shadow: inset 0 0 40px 40px #fff;
                pointer-events: none;
                border-radius: 70px;
        }

        &-block {
            overflow: scroll;
            max-width: 1550px;
            /*max-height: calc(100vh - 150px - 140px);*/
            max-height: calc(100vh - 400px);

            padding-left: 60px;
            padding-right: 90px;
            padding-block: 64px;
        }

        &-text {
            font-size: clamp(16px, 2.15vw, 44px);
            line-height: 1.36;
            white-space: pre-line;

            &--bold {
                font-weight: 700;
            }
        }
    }
}