.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    /*justify-content: space-between;*/
    gap: 30px;
    max-width: 580px;
    max-height: 160px;
    background-color: var(--color-pink);
    padding-block: 24px;
    padding-inline: 30px;
    border-radius: 80px;
    border: none;


    &__round {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-dark);
        width: clamp(30px, 4.88vw, 100px);
        /*width: 20%;*/
        aspect-ratio: 1;

        border-radius: 50%;
        box-shadow: inset 2px 2px 10px 0px rgba(0, 0, 0, .2),
         -2px -2px 4px 5px rgba(0, 0, 0, .4),
         2px 2px 4px 5px rgba(255, 255, 255, .4);

        font-family: var(--font-family-accent);
        font-size: clamp(18px ,2.9vw, 60px);
        color: white;
    }
    &__icon {
        width: 40%;
        height: auto;

        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
    }

    &__text {
        color: var(--color-dark);
        font-family: var(--font-family-base);
        font-size: clamp(16px, 2.5vw, 54px);
        /*text-wrap: nowrap;*/
    }
}

.button:hover {
    background-color: var(--color-pink-light);
}

.button:active {
    background-color: var(--color-pink-dark);
}

/*@media (max-width: 892px) {*/
/*    .button {*/
/*        gap: 25px;*/
/*    }*/
/*}*/

