a {
    text-decoration: none;
    color: var(--color-dark);
}

body ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    color: var(--color-dark);
    font-family: var(--font-family-base);

}

body * {
    transition-duration: 0.2s;
}




.content {
    display: flex;
    overflow: auto;
    /*min-width: 100vw;*/
    scroll-behavior: smooth;
}


.section {
    outline: 1px solid red;
    /*background-color: #1f88cb;*/
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
}

.section-title {
    font-family: var(--font-family-base);
    font-weight: 400px;
    /*font-size: 54px;*/
    font-size: clamp(16px, 2.64vw, 54px);
}

.large-text {
    font-family: var(--font-family-accent);
    font-weight: 300;
    line-height: 1.07;
    /*font-size: 220px;*/
    font-size: clamp(65px, 10.7vw, 220px);
    /*font-size: 10.5vw;*/

    &--accent {
        font-weight: 800;
    }
}

.adaptive-size {

}

.container {
    outline: 2px solid yellow;
    height: 100vh;
    margin-left: 140px;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
